.main-top {
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 575px 373px, auto auto;
  min-height: 373px;
}

.main-top__title {
  font-size: 27px;
  line-height: 30px;
}

.main-top__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  &:first-of-type  {
      background-color: #63d1bb;
    }
  &:nth-of-type(2) {
      background-color: #56c3b2;
    }
}
