.form__right-column__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: relative;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    left: -63px;
    top: -8px;
    border: 2px solid #444444;
    border-radius: 100%;
  }

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

.form__right-column__input:checked + .form__right-column__label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: -51px;
  top: 3px;
  background-color: #62d1ba;
  border-radius: 100%;
}

.form__right-column__input:focus + .form__right-column__label::before {
  border-color: #62d1ba;
}

/* Мобильная версия */

@media (max-width: @mobile-width-only) {
  .form-type .form__right-column {
    margin-left: 63px;
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .label-accessory {
    margin-bottom: 25px;
  }

  .label-toy {
    display: block;
    margin-bottom: 30px;
  }
}

/* Планшетная версия */

@media (min-width: @tablet-width) {
  .form-type {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;

    & .form__right-column {
      width: 500px;
      box-sizing: border-box;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 79px;
      margin-top: -3px;
    }
  }

  .form__right-column__label {
    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 47px;
      height: 47px;
      left: -79px;
      top: -15px;
    }
  }

  .label-accessory {
    margin-bottom: 58px;
  }

  .label-toy {
    display: block;
    margin-bottom: 69px;
  }

  .form__right-column__input:checked + .form__right-column__label::after {
    width: 20px;
    height: 20px;
    left: -64px;
    top: 1px;
  }
}

/* Десктопная версия */

@media (min-width: @desktop-width) {
  .form-type {
    width: 1050px;
    margin: 0 auto;
    padding-left: 115px;
    padding-top: 75px;

    & .form__right-column {
      margin-left: 75px;
    }
  }
}
