.form-item__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}

.form-legend {
  font-size: 14px;
  line-height: 16px;
}

/* Мобильная версия */

.order-form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Планшетная версия */

@media (min-width: @tablet-width) {
  .order-form {
    width: 768px;
    margin: 0 auto;
  }
}

/* Десктопная версия */

@media (min-width: @desktop-width) {
  .order-form {
    width: 1050px;
    margin: 0 auto;
  }
}
