.catalog__title--product {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__char {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__button {
  position: absolute;
  border: none;
  background: transparent;
  fill: #d3d2d2;

  &:hover,
  &:focus {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

/* Мобильная версия */

@media (max-width: @mobile-width-only) {
  .catalog__list {
    width: 260px;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 30px;
  }

  .catalog__item {
    border: 1px solid #ececec;
    margin-bottom: 30px;
  }

  .catalog__title--product br {
    display: none;
  }

  .catalog__text {
    display: block;
    width: 205px;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
  }

  .catalog__char {
    margin-top: 4px;
    padding-bottom: 19px;
    border-bottom: 1px solid #ececec;
  }

  .catalog__price {
    margin-top: 20px;
    padding-bottom: 13px;
  }

  .catalog__button {
    right: -6px;
    bottom: 13px;
  }
}

/* Планшетная версия */

@media (min-width: @tablet-width) {
  .catalog__list {
    width: 668px;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 79px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ececec;
    margin-bottom: 54px;

    &:hover .catalog__text {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__link {
    display: block;
    width: 333px;
    height: 332px;
  }

  .catalog__image {
    width: 333px;
    height: 333px;
  }

  .catalog__text {
    width: 306px;
    padding-left: 27px;
    padding-top: 25px;
    position: relative;
  }

  .catalog__title--product {
    font-size: 20px;

    br {
      display: block;
    }
  }

  .catalog__char {
    font-size: 15px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 199px;
  }

  .catalog__price {
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -24px;
      width: 268px;
      height: 1px;
      background-color: #ececec;
    }
  }

  .catalog__button {
    position: absolute;
    bottom: 27px;
    right: 25px;
  }

  .catalog__item:nth-child(3) .catalog__char {
    margin-bottom: 175px;
  }
}

/* Десктопная версия */

@media (min-width: @desktop-width) {
  .catalog__list {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 132px;
  }

  .catalog__item {
    width: 315px;
  }

  .catalog__link {
    height: 461px;
    box-sizing: border-box;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__text {
    border-top: 1px solid #ececec;
  }

  .catalog__char {
    margin-bottom: 62px;
  }

  .catalog__item:nth-child(3) .catalog__char {
    margin-bottom: 38px;
  }

  .catalog__price {
    margin-left: 0;

    &::before {
      width: 256px;
      left: -2px;
    }
  }
}
